*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
main{
    height: 100%;
}

.container{
    margin: auto;
    max-width: 1000px;
    width: 70%;
    
   
}

.clearfix::after{
    clear: both;
    content: "";
    display: table;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.w-30{
    width: 30%;
}

.w-50{
    width: 50%;
}
.w-60{
    width: 60%;
}
/*utilities*/

.top-header{
    width: 100%;
    background-color: white;
    height: 80px;
    line-height: 80px;
    position: fixed;
    z-index: 10;
    
}

.top-header img{
    vertical-align: middle;
    padding-bottom: 3px;
   }

.top-header nav{
    display: inline-block;
    vertical-align: middle;
   
}

.top-header li{
    display: inline-block;
    margin:0px 20px;
}
li a{
    text-decoration: none;
    color: black;
}
.logo{
    display: inline-block;
    margin-left: 20px;

}
.float-right nav{
    margin-right: 20px;
}
/*fine tag top-header*/
.bottom-header{
    background-color: #b4d0e7;
    height: 800px;
    position:relative;
}
.text-box{
    position: absolute;
    right: 0%;
    top: 55%;
    transform: translate(0%, -50%);
    width: 90%;
}

.text-box h1{
    font-size: 5rem;
}
.text-box p{
    margin-bottom: 3rem;
    width: 30%;
    margin-top: 30px;
    
}
.btn{
    color: white;
    text-decoration: none;
    background-color: #0061ff;
    padding: 10px 20px;
}
.text-box a:hover, 
.utente a:hover, 
.bottom-col a:hover{
    background-color: #5a99ff;
    transform: scale(1.1);
}
.jumbo img {
    width: 60%;
    position: absolute;
    top: 60%;
    right: 0;
}

.prova{
    height: 100%;
    border:2px solid black;
}

/*fine header*/

/*inizio tag colonne*/

.first-section{
    margin-top: 30%;
}
.first-section h2, .four h2{
    text-align: center;
    font-size: xx-large;
    margin-bottom: 5rem;
}
.mese-utente{
    font-size: 12px;
}
.radio {
    margin-bottom: 20px;

}
.col-container{
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;

}
.col-item,
.col-central
{
    float: left;
    width:33%;
    border: 2px solid lightgray;
    height: 900px;

    
}

.col-central{
    float: left;
    width: 30%;
    margin-left: 2%;
    margin-right: 2%;
}

 .tipologia{   
    text-align: center;
    border-bottom:2px solid lightgray;
    padding: 10px;
   
}
.text-col{
    height: 100px;
    text-align: left;
    padding: 20px;
}
.text-col .tipo{
    font-size: 30px;
}
.top-text-col{
    line-height: 3rem;
}
.text-col nav li{
    color: black;
    list-style-type: none;
    font-size:12px;
    margin:10px 0px;
    line-height: 1.5rem;

    
}

.text-col nav{
    margin-bottom: 3rem;
    margin-top: 30px;
    
}
.text-col .acquista{
    font-size: 12px;
    margin-top: 30px;
}
.acquista a{
    color: #1d72ff;
}
.acquista a:hover{
    text-decoration: white;
}
.col-central .prezzo1 {
    font-size: 17px;
}
.col-central .utente{
    width: 14rem;
}

.bottom-text{
    margin-top: 2rem;
}
.utente .btn{
    display: inline-block;
    padding: 10px 35px;
    width: 100%;
    text-align: center;
    font-size: 13px;
}

.bottom-col{
    border: 2px solid lightgray;
    height: 220px;
    margin-top: 15px;
}
.bottom-col .btn{
    height: 40px;
    line-height: 40px;
    padding: 5px 20px;
    padding: 0px 47px;
    text-align: center;
    font-size: 13px;
    width: 30%;
}


/*fine tag colonne*/
/*seconda section*/

.section-2{
    height: 470px;
    margin-top: 20vh;
    position: relative;
    
}
.section-2 img{
    
    width: 55%;

}
.text-section{
    position: absolute;
    left: 60%;
    top: 10%;
    width: 40%;
}
.section-2 h1{
    font-size: 20px;
    margin-bottom: 20px;
}
.section-2 p{
    margin-bottom: 40px;
}

.section-2 .btn{
    border: 2px solid black;
    background-color: white;
    color: black;
}
.section-2 a:hover{
    background-color: rgb(236, 236, 236);
    border:2px solid gray;
    color: gray;
}

.third .first-section{
    margin-top: 0px;
}
.third h2{text-align: left;
    margin: 3rem 0rem;
}
.third h3{

}
.third p{
    line-height: 20px;
}

.third .text-col{
    padding: 0px;
}
.box-img {
    width: 100%;
}
.box-img img{
    width: 100%;
}
.third .col-item, .third .col-central{
    height: 500px;
    border: 0;
    margin: 0%;
    width: 33%;
    padding-right: 10px;
}
 .four h2{
    text-align: left;
    margin-bottom: 0;
    margin-top: 4rem;
 }


 .third .bottom-col{
     border: 0px;
     margin-top: 5rem;
 }

 /*fine terza section tag*/
.box-logo{
    background-color: #f5f5f5;
    height: 470px;
    position: relative;
    
}
.content-container, .content-container-left {
    width: 470px;
    height: 470px;position: relative;
    float: right;
}
.content-container-left{
    float: left;
}
.block{
    height: 235px;
    width: 235px;
}
.three, .seven{position: absolute;
    left: 0;
    top: 50%;
}
.two, .six{position: absolute;
    right: 0;
   
}

.one, .five{
    position: absolute;
    top: 0;
}
.four, .eight{
    position: absolute;
    bottom: 0;
    left: 50%;
}
.one{background-color: #a2d39b;
    border:10px solid #d0e9cd;
}
.two{background-color: #61082b;}
.three{background-color: #0093ce;}
.four{background-color: #ff1c1c;}
.five{background-color: #d5001f;}
.six{background-color: #b4d0e7;}
.seven{background-color: #0d2481;}
.eight{background-color: #ffd830;}



.block img{
        width: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: invert(1);
}
.ten{
   
    border: 3px solid black;
    width: 100%;
}
.block-nine img{
    filter: invert(0);
    top: 15%;
    left: 25%;
    width: 35%;
}
.text h2{
    color: red;
}
.logo-nine{
        position: absolute;
    right: 5%;
    top: 10%;
    padding-bottom: 30px;
    border-bottom: 1px solid black;

}
.block-ten p{
    width: 100%;
}

.blue{
    background: #b4d0e7;
    height: 350px;
    z-index: 1;
}

.blue h1{
    color: #61082b;
    position: absolute;
    top: 35%;
    width: 30%;
}

.blue .btn{
    color: black;
    background-color: white;
    padding: 5px 50px;
    position: absolute;
    right: 20%;
    top: 33%;
}

.blue .btn:hover{
    transform: scale(1.1);
}
/*menu dropdown*/

.slide-drop{
    position: relative;
    height: 500px;
}
 .slide-drop h2{
    padding-bottom: 30px;
    border-bottom: 2px solid lightgray

 }
.slide-drop ul{
    list-style-type: none;
    position: absolute;
    top: 15%;
    width: 100%;
}
.slide-drop ul li{
    border-bottom: 2px solid lightgray;
    padding:20px 0px;
}

.slide-drop .fas{
    float: right;
    margin-right: 15px;
    margin-top: 5px;
}

  footer{
      position: relative;
      height: 70vh;
      background: black;
      color: white;
  }
.container-footer{
    width: 80%;
    position: absolute;
    height: 410px;
    top: 20%;
    left: 10%;
}
  table{
    width: 100%;
  }
  tr{
    text-align: left;
      
  }
  
  th{
    line-height: 3rem;
    font-size: 20px;
  }
  td a{
      text-decoration: none;
      color: white;
      font-size: 12px;
  }

  td a:hover{
      text-decoration:underline;
      color: white;
  }

  .bottom-footer {
    bottom: 10%;
    width: 20vh;
    padding-top: 5%;
    border-top: 2px solid gray;
    position: absolute;
  }
  .bottom-footer a{
      color: gray;
      font-size: 12px;
      text-decoration: none ;
  }

 