*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
main{
    height: 100%;
}

.container{
    margin: auto;
    max-width: 1000px;
    width: 70%;
    
   
}

.clearfix::after{
    clear: both;
    content: "";
    display: table;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.w-30{
    width: 30%;
}

.w-50{
    width: 50%;
}
.w-60{
    width: 60%;
}
/*utilities*/

.top-header{
    width: 100%;
    background-color: white;
    height: 80px;
    line-height: 80px;
    position: fixed;
    z-index: 10;
    
}

.top-header img{
    vertical-align: middle;
    padding-bottom: 3px;
   }

.top-header nav{
    display: inline-block;
    vertical-align: middle;
   
}

.top-header li{
    display: inline-block;
    margin:0px 20px;
}
li a{
    text-decoration: none;
    color: black;
}
.logo{
    display: inline-block;
    margin-left: 20px;

}
.float-right nav{
    margin-right: 20px;
}
/*fine tag top-header*/
.bottom-header{
    background-color: #b4d0e7;
    height: 800px;
    position:relative;
}
.text-box{
    position: absolute;
    right: 0%;
    top: 55%;
    transform: translate(0%, -50%);
    width: 90%;
}

.text-box h1{
    font-size: 5rem;
}
.text-box p{
    margin-bottom: 3rem;
    width: 30%;
    margin-top: 30px;
    
}
.btn{
    color: white;
    text-decoration: none;
    background-color: #0061ff;
    padding: 10px;
}
.jumbo img {
    width: 60%;
    position: absolute;
    top: 60%;
    right: 0;
}

.prova{
    height: 100%;
    border:2px solid black;
}

/*fine header*/

/*inizio tag colonne*/

.first-section{
    padding-top: 30%;
}
.first-section h2{
    text-align: center;
    font-size: xx-large;
    margin-bottom: 5rem;
}
.mese-utente{
    font-size: 12px;
}
.radio {
    margin-bottom: 20px;

}
.col-container{
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;

}
.col-item,
.col-central
{
    float: left;
    width:33%;
    border: 2px solid lightgray;
    height: 900px;

    
}

.col-central{
    float: left;
    width: 30%;
    margin-left: 2%;
    margin-right: 2%;
}

 .tipologia
{   text-align: center;
    border-bottom:2px solid lightgray;
    padding: 10px;
   
}
.text-col{
    height: 100px;
    text-align: left;
    padding: 20px;
}
.text-col .tipo{
    font-size: 30px;
}
.top-text-col{
    line-height: 3rem;
}
.text-col nav li{
    color: black;
    list-style-type: none;
    font-size:12px;
    margin:10px 0px;
    line-height: 1.5rem;

    
}


.text-col nav{
    margin-bottom: 3rem;
    margin-top: 30px;
    
}
.text-col .acquista{
    font-size: 12px;
    margin-top: 30px;
}
.acquista a{
    color: #1d72ff;
}
.col-central .prezzo1 {
    font-size: 17px;
}
.col-central .utente{
    width: 14rem;
}

.bottom-text{
    margin-top: 2rem;
}
.utente .btn{
    display: inline-block;
    padding: 10px 35px;
    width: 100%;
    text-align: center;
    font-size: 13px;
}

.bottom-col{
    border: 2px solid lightgray;
    height: 220px;
    margin-top: 15px;
}


/*fine tag colonne*/